<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>
<body>
    <p>单一文件上传</p>
    <div>
        <form method="post" action="/uploads/upload1" enctype="multipart/form-data">
            <p>
                文件1：
                <input type="file" name="file" />
                <input type="submit" value="上传">
            </p>
        </form>
    </div>
    <br>

    <p>批量文件上传</p>
    <div>
        <form method="post" action="/uploads/upload2" enctype="multipart/form-data">
            <p>
                文件1：<input type="file" name="files"/>
            </p>
            <p>
                aa
                文件2：<input type="file" name="files"/>
            </p>
            <p>
                <input type="submit" value="上传"/>
            </p>
        </form>
    </div>
    <br>

    <P>Base64文件上传</P>
    <div>
        <form method="POST" action="/uploads/upload3">
            <p>
                BASE64编码：<textarea name="base64" rows="10" cols="80"></textarea>
                <input type="submit" value="上传"/>
            </p>
        </form>
    </div>
</body>
</html>